body{
    background: #f7f7f7;
   
}
header{
    padding: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(219, 208, 208); padding-bottom: 20px;
}
.navbar span{
    display: none;
}

ul{
    display: flex;
    justify-content: space-around;
   list-style: none;

}

a{
    text-decoration: none;
    padding: 15px;
    font-family: Open Sans;
font-size: 18px;
font-weight: 600;
line-height: 25px;
letter-spacing: -0.02em;
text-align: left;
color: #303031;

}

a:focus{
    color: #71A894;

}

a:hover{
    color: #71A894;

}

.box{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-top: 40px;
}

.section1{
    width: 570px;
padding-top: 30px;
}


h1{
font-family: Roboto;
font-size: 70px;
font-weight: 700;
line-height: 80px;
text-align: left;
color: #303031;

}

p{
font-family: Open Sans;
font-size: 24px;
font-weight: 400;
line-height: 32px;
color: #66645E;

}

button{
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 24px;
color: #FFFFFF;
height: 64px;
width: 220px;
border-radius: 8px;
border: none;
padding: 20px 24px 20px 24px;
background: #71A894;
transition: all;
}

button:hover{
    transform: scale(0.9);
}

.sectionimg{
    width: 650px;
    height: 550px;
    padding-right: 25px;
}

.center{
    width: 890px;
  /* background-color: aqua; */
   margin-top: 200px;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   text-align: center;
   margin-left: 220px;

}


h2{
font-family: Roboto;
font-size: 48px;
font-weight: 800;
line-height: 64px;
color: #303031;

}

.para{
 font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 26px;
color: #303031;
}

.bigbox{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 40px;
    /* margin-top: 150px; */
}
.card{
height: 300px;
width: 420px;
background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 8px;
text-align: center;
padding-top: 75px;
}

h3{
    font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-align: center;
color: #303031;

}


.box1{
    width: 635px;
    padding-left: 15px;
}

.box2{

    width: 480px;
    height: 400px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: 4px solid #303031;
    padding-left: 35px;
    margin-bottom: 30px;
    margin-left: 40px;
}

h4{
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #303031;

}

.profil1{
    display: flex;
    padding-bottom: 20px;
    
}
.profil1 img{
    border-radius: 50%;
}

span{
    font-family: Roboto;
font-size: 24px;
font-style: italic;
font-weight: 100;
line-height: 26px;
color: #303031;

}

.para1{
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 26px;
color: #66645E;

}

.box3{
    height: 400px;
    width: 480px;
    border-radius: 16px;
    margin-left: 60px;
    color:#303031;
    background-color:#FFFFFF ;
    border: 4px solid #303031;
    padding: 35px;
   margin-bottom: 30px;
}

.para2{
    font-family: Roboto;
font-size: 16px;
font-style: italic;
font-weight: 100;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: #66645E;

}

.box4{
display: flex;
margin-top: 150px;
margin-left: 35px;
}

.cards{
    height: 200px;
width: 420px;
background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 8px;
text-align: center;
padding-top: 75px;

}

.center1{
    width: 890px;
  /* background-color: aqua; */
   padding-top: 40px;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   /* text-align: center; */
   margin-left: 220px;
}
.cardss{
    height: 200px;
    width: 420px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;   
    padding-bottom: 35px;
}

.cardsss{
    height: 120px;
width: 580px;
background-color: white;
border: 4px solid #303031;
border-radius: 16px;
padding-bottom: 25px;

}

.param{
    padding-left: 25px;
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;

}

.boxx2{
    width: 300px;
    height: 280px;
    border-radius: 16px;
    background-color: #FFFFFF;
    border: 4px solid #303031;
    padding-left: 25px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
   
}

.boxx3{
    height: 288px;
width: 240px;
border-radius: 16px;
border: 4px solid #71A894;
background-color:#FFFFFF ;
padding-top: 30px;
margin-top: 20px;
margin-left: 10px;

}

.Alex{
    text-align: center;
    font-size: 20px; 
    font-weight: 700;
line-height: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.para4{
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: center;
color: #66645E;

}

@media screen and (max-width: 576px){
.none{
    display: none;
}
span{
    display: block;  
}
    .navbar ul {
        display: none;
    }
    .navbar  span{
        display: block;
    }
    
    .box{
        display: flex;
        flex-direction: column-reverse;
        align-items: center !important;
        justify-content: center !important; 
       
    }
    .section1{
        padding-left: 33px;
       width: 360px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 130px;
    }
    .section1 h1{
        text-align: center;
        font-family: Roboto;
font-size: 30px;
font-weight: 700;
line-height: 40px;
text-align: center;

    }
    .section1 p{
        text-align: center;
        padding-bottom: 30px;
font-size: 18px;
font-weight: 400;
line-height: 32px;
text-align: center;

    }
    .section img{
        padding-left: 18px;
        padding-right: 18px;
width: 330px;


    }

    .centerr{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 360px;

    }
    .centerrh1p{
        width: 360px;
    }


h2{
font-size: 30px;
font-weight: 700;
line-height: 40px;
text-align: center;
margin-right: 35px ;

}
.para{
font-size: 18px;
font-weight: 400;
line-height: 32px;
text-align: center;

}

.bigboxx{
    display: flex;
    flex-direction: column;
    justify-content: center;
padding: 25px;
 
    
}

}
